/*fonts*/
/* @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* default style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:not(i){
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    background-color: #ffffff;
    overflow-x: hidden;
}
:before,:after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
section,
footer{
    display: block;
    width: 100%;
    z-index: 100;
}
.container{
    max-width: 1140px;
    margin: auto;
    z-index: -10000;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 60px;
}
.section-title h2{
    font-size: 45px;
    color: #000000;
    font-weight: 700px;
    font-family: "Dancing Script", cursive;
    letter-spacing: 2px;
    margin: 0;
    text-transform: capitalize;
}

/* preloader */
.preloader{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preloader .loader{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.preloader .loader:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-radius: 50%;
    animation: loaderSpin 1.5s linear infinite;
}
@keyframes loaderSpin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.preloader .loader i{
    font-size: 20px;
    animation: loader 1.5s linear infinite;
}
@keyframes loader{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.7);
    }
}

/* popup */
.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 10;
    margin-top: 30px;
}
.contentBox{
    position: relative;
    width: 600px;
    height: 400px;
    background: #ffffff;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.contentBox .imgBx{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentBox .imgBx::before{
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: -30px;
}
.contentBox .imgBx img{
    position: relative;
    max-width: 250px;
    z-index: 1;
}
.contentBox .content{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentBox .content h2{
    line-height: 1em;
    font-size: 32px;
    font-family: "Dancing Script", cursive;
    padding: 10px 20px;
    text-align: center;
}
.contentBox .content #nama{
    line-height: 1em;
    font-size: 28px;
    font-family: "Dancing Script", cursive;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 10px;
}
.contentBox .content p{
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}
.contentBox .content .close{
    text-align: center;
}
.contentBox .content .close a{
    display: inline-block;
    padding: 10px 10px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
}
.music{
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
}


/* navbar */
.navbar{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    transition: all 0.5s ease;
}
.navbar.fixed{
    background-color: #ffffff;
    box-shadow: 0 0 8px #cccccc;
}
.navbar .logo{
    padding: 0 15px;
}
.navbar .logo p{
    font-size: 22px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
.navbar.fixed .logo a{
    color: #000000;
}
.navbar .hamburger-btn{
    display: inline-block;
    height: 34px;
    width: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    display: none;
}
.navbar .hamburger-btn span{
    display: block;
    height: 1px;
    width: 16px;
    position: relative;
    transition: all 0.5s ease;
}
.navbar .hamburger-btn span:before,
.navbar .hamburger-btn span:after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
}
.navbar .hamburger-btn span:before{
    top: -6px;
    width: 50%;
}
.navbar .hamburger-btn span:after{
    top: 6px;
    width: 50%;
    margin-left: 50%;
    margin-top: 1px;
    justify-items: left;
}
.navbar .nav{
    padding: 0 15px;
}
.navbar .nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar .nav ul li{
    display: inline-block;
    margin-left: 30px;
}
.navbar .nav ul li a{
    display: block;
    padding: 25px 0;
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.5s ease;
}
.navbar.fixed .nav ul li a{
    color: #555555;
}


/* invite section */
.invite-section{
    min-height: 100vh;
    position: relative;
    z-index: -2;
}
.invite-section .invite{
    background-position: center;
    background-image: url("../img/bg/wedding.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-in-out;
}
.invite-section .invite{
    opacity: 1;
    visibility: visible;
}
.invite-section .invite:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -10;
}
.invite-section .row{
    min-height: 100vh;
}
.invite-section .invite-content{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    text-align: center;
}
@keyframes fadeInTop{
    0%{
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.invite-section .invite-content span{
    font-size: 24px;
    display: inline-block;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-family: 'Dancing Script', cursive;
    margin: 15px 0 0 5px;
}
.invite-section .invite .invite-content span{
    opacity: 0;
    animation: fadeInTop 1s ease forwards;
    animation-delay: 0.3s;
}
.invite-section .invite-content h1{
    font-size: 48px;
    color: #ffffff;
    margin: 0;
    font-weight: normal;
    font-family: 'Dancing Script', cursive;
}
.invite-section .invite .invite-content h1{
    opacity: 0;
    animation: fadeInTop 2s ease forwards;
    animation-delay: 0.5s;
}

/* couple section */
.couple-section{
    padding: 80px 0  80px;
}
.couple-section .ucapan{
    font-size: 18px;
    margin-top: 30px;
    font-family: "Dancing Script", cursive;
    transition: .9s, .6s, ease-in-out;
}
.couple-section .couple{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 60px;
    text-align: center;
    position: relative;
    transition: .9s, .6s, ease-in-out;
}
.couple-section .couple:nth-child(2):before{
    content: '';
    position: absolute;
    left: -1px;
    top: 0;
    width: 1px;
    height: 100%;
}
.couple-section .couple i.fa-heart{
    position: absolute;
    left: -15px;
    width: 31px;
    background-color: #ffffff;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    top: 30%;
}
.couple-section .couple .photo{
    max-width: 228px;
    max-height: 228px;
    border-radius: 50%;
    z-index: 1;
    border: 5px solid transparent;
}
.couple-section .couple h3{
    font-size: 28px;
    margin: 15px 0;
    font-family: "Dancing Script", cursive;
    font-weight: normal;
    letter-spacing: 2px;
    
}
.couple-section .couple p{
    font-size: 22px;
    line-height: 26px;
    color: #555555;
    margin: 0;
    font-family: "Dancing Script", cursive;
}
.couple-section .social-links{
    padding-top: 30px;
}
.couple-section .social-links a{
    display: inline-block;
    margin: 0 3px;
}
.couple-section .social-links a i{
    height: 32px;
    width: 32px;
    line-height: 30px;
    border: 1px solid transparent;
    text-align: center;
    display: block;
    border-radius: 50%;
    transition: all 0.5s ease;
    color: #ffffff;
}
.couple-section .social-links a i:hover{
    color: #ffffff;
}

/* location section */
.location-section{
    padding: 80px 0 80px;
}
.location-section .location-content{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}
.location-section .location-content::before{
    content: '';
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
    top: 0;
}
.location-section .location-item i{
    position: absolute;
    left: 50%;
    margin-left: -14px;
    top: 0;
    width: 31px;
    text-align: center;
    background-color: #ffffff;
    padding: 5px;
    font-size: 18px;
}
.location-section .location-item{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 50px;
    position: relative;
}
.location-section .location-item:last-child{
    margin-bottom: 0;
}
.location-section .location-item:nth-child(even){
    flex-direction: row-reverse;
}
.location-section .location-item:nth-child(odd) .location-text{
    padding: 0 60px  0 15px;
    text-align: right;
}
.location-section .location-item:nth-child(odd) .location-img{
    padding: 0 15px  0 60px;
}
.location-section .location-item:nth-child(even) .location-text{
    padding: 0 15px  0 60px;
}
.location-section .location-item:nth-child(even) .location-img{
    padding: 0 60px  0 15px;
}
.location-section .location-text,
.location-section .location-img{
    flex: 0 0 50%;
    max-width: 50%;
}
.location-section .location-text h3{
    font-size: 24px;
    margin: 0 0 8px;
    font-weight: 500;
    text-transform: capitalize;
}
.location-section .location-text span.date{
    font-size: 12px;
    font-weight: 700;
    color: #555555;
    margin: 0 0 15px;
    display: block;
    text-transform: capitalize;
}
.location-section .location-text p{
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    color: #555555;
}
.location-section .location-img .google-maps{
    max-width: 700px;
}
.location-section .location-img .maps{
    width: 100%;
}
.location-section .maps{
    border-radius: 5px;
}

/* event section */
.event-section{
    padding: 80px 0 80px;
}
.event-section .event-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
}
.event-section .event-item:nth-child(2){
    transform: translateY(50px);
}
.event-section  .event-item-inner{
    background-color: #ffffff;
    padding: 60px 45px 100px;
    text-align: center;
    box-shadow: 0 0 10px #888888;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    z-index: 1;
    border-radius: 5px;
}
.event-section  .event-item-inner:before{
    content: '';
    position: absolute;
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;
    border: 5px solid transparent;
    z-index: -1;
    border-radius: 5px;
}
.event-section  .event-item-inner h3{
    color: #000000;
    font-weight: bold;
    font-size: 26px;
    margin: 0 0 15px;
    text-transform: capitalize;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 5px;
    display: inline-block;
    font-family: "Dancing Script", cursive;
}
.event-section  .event-item-inner span{
    display: block;
    font-weight: 500;
    font-size: 16px;
}
.event-section  .event-item-inner span.time{
    margin-bottom: 15px;
}
.event-section  .event-item-inner p{
    font-size: 14px;
    line-height: 26px;
    color: #555555;
    margin: 0;
}
.event-section  .event-item-inner img{
    position: absolute;
    width: 40px;
    left: 50%;
    bottom: 18px;
    z-index: -2;
    margin-left: -20px;
}


/* prokes */
.prokes-section{
    padding: 30px 15px 80px;
}
.prokes-section .section-title{
    padding: 10px 0;
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 70px;
    
}
.prokes-section .section-title h1{
    font-size: 40px;
    text-align: center;
    margin: 0;
}
.prokes-section .section-title p{
    font-size: 18px;
    text-align: center;
    margin: 15px 0 0;
}
.prokes-section .prokes-items{
    flex-basis: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.prokes-section .prokes-items p{
    text-align: center;
}
.prokes-section .prokes-items .item{
    flex-basis: calc(25% - 30px);
    max-width: 25%;
    transition: all .5s ease;
    margin-bottom: 40px;
}
.prokes-section .prokes-items .item img{
    display: block;
    width: 100%;
    border-radius: 20px;
}
.prokes-section .prokes-items .item .inner{
    position: relative;
    z-index: 2;
    padding: 0 15px;
}
.prokes-section .prokes-items .item .inner .info{
    text-align: center;
    padding: 20px 15px;
    border-radius: 20px;
    transition: all .5s ease;
    margin-top: -30px;
}
.prokes-section .prokes-items .item:hover .inner .info{
    transform: translateY(-20px);
}
.prokes-section .prokes-items .item:hover{
    transform: translateY(-10px);
}
.prokes-section .prokes-items .item .inner .info h5{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}
.prokes-section .prokes-items .item .inner .info p{
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0 0;
}

/* footer */
.footer{
    padding: 0 0 80px;
}
.footer .footer-content{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}
.footer .footer-content .couple-name{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.footer .footer-content .couple-name img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: rotate(20deg);
}
.footer .footer-content .couple-name .poto{
    position: absolute;
    left: 0;
    top: 0;
    width: 1500%;
    height: 100%;
    z-index: -1;
    transform: rotate(100deg);
}
.footer .footer-content .couple-name h2{
    font-size: 32px;
    font-family: "Dancing Script", cursive;
    color: #000000;
    margin: 0;
    font-weight: normal;
    text-align: center;
    text-transform: capitalize;
}
.footer .footer-content .couple-name h2 span{
    font-family: "Dancing Script", cursive;
    font-weight: normal;
    display: block;
}
.footer .footer-content p{
    font-size: 28px;
    font-family: "Dancing Script", cursive;
    color: #000000;
    margin-top: 20px;
    font-weight: normal;
    text-align: center;
}

/* bank */
.bank-section{
    padding: 80px 15px 20px;
}
.bank-section .section-title{
    padding: 10px 0;
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 70px;
    
}
.bank-section .bank-items{
    flex-basis: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.bank-section .bank-items p{
    text-align: center;
}
.bank-section .bank-items .item{
    flex-basis: calc(25% - 30px);
    max-width: 25%;
    transition: all .5s ease;
    margin-bottom: 40px;
}
.bank-section .bank-items .item img{
    display: block;
    width: 100%;
    height: 100px;
    border-radius: 20px;
}
.bank-section .bank-items .item .inner{
    position: relative;
    z-index: 2;
    padding: 0 15px;
}
.bank-section .bank-items .item .inner .info{
    text-align: center;
    padding: 20px 15px;
    border-radius: 20px;
    transition: all .5s ease;
    margin-top: -20px;
}
.bank-section .bank-items .item:hover .inner .info{
    transform: translateY(-20px);
}
.bank-section .bank-items .item:hover{
    transform: translateY(-10px);
}
.bank-section .bank-items .item .inner .info h5{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}



/* dark mode */
body.dark .location-section .location-item i.fa-heart,
body.dark .event-section .event-item-inner h3,
body.dark .event-section .event-item-inner,
body.dark .couple-section .couple i.fa-heart,
body.dark .couple-section .couple i.fa-heart,
body.dark{
    background-color: #111111;
}
body.dark .navbar.fixed,
body.dark .navbar.fixed .hamburger-btn{
    background-color: #222222;
}
body.dark .event-section .event-item-inner h3,
body.dark .section-title h2,
body.dark .navbar .nav ul li a,
body.dark .navbar.fixed .nav ul li a,
body.dark .navbar.fixed .logo a{
    color: #ffffff;
}
body.dark .event-section .event-item-inner p,
body.dark .location-section .location-text span.date,
body.dark .location-section .location-text p,
body.dark .couple-section .ucapan,
body.dark .couple-section .couple p{
    color: #ffffff;
}
body.dark .navbar.fixed .hamburger-btn span{
    color: #ffffff;
}
body.dark .event-section .event-item-inner,
body.dark .navbar.fixed{
    box-shadow: 0 0 10px #000000;
}
body.dark .location-section .location-content:before,
body.dark .couple-section .couple:nth-child(2):before{
    background-color: #333333;
}
body.dark .navbar.fixed .nav{
    border-color: #333333;
}
body.dark .navbar.fixed{
    border-color: transparent;
}
@media(max-width: 767px){
    body.dark .navbar .nav{
        background-color: #222222;
    }
}